[user]
    name = Mahmoud Hanafy
    email = mahmoudhossam@users.noreply.github.com
[color]
    diff   = auto
    status = auto
    branch = auto
[push]
    default = current
[core]
    editor = nvim
    excludesfile = ~/.gitignore
    pager = diff-so-fancy | less --tabs=4 -RFX
[credential]
    helper = libsecret
[alias]
    patch = -c core.pager="" show --no-color
[merge]
    tool = meld
[diff]
    tool = meld
[gui]
    displayuntracked = true
[cola]
    checkconflicts = true
    spellcheck = false
[init]
    defaultBranch = main
