[user]
    name = Mahmoud Hossam
    email = mahmoud.h.hanafy@gmail.com
    signingkey = D93BB4FD958BBDC3
[color]
    diff   = auto
    status = auto
    branch = auto
[push]
    default = simple
[core]
    editor = vim
    excludesfile = ~/.gitignore
    pager = diff-so-fancy | less --tabs=4 -RFX
[instaweb]
    browser = google-chrome
    local = true
[credential]
    helper = cache --timeout=7200
[alias]
    patch = -c core.pager="" show --no-color
[merge]
    tool= meld
[diff]
    tool=vimdiff
[gui]
    displayuntracked = true
[cola]
    checkconflicts = true
    spellcheck = false
[diff "blackbox"]
    textconv = gpg --use-agent -q --batch --decrypt
[commit]
	gpgsign = true
