[user]
    name = Mahmoud Hossam
    email = mhossam@newyorker.de
[color]
    diff   = auto
    status = auto
    branch = auto
[push]
    default = simple
[core]
    editor = nvim
    excludesfile = /Users/mhossam/.gitignore
    ;pager = diff-so-fancy | less --tabs=4 -RFX
[instaweb]
    browser = google-chrome
    local = true
[credential]
    helper = osxkeychain
[alias]
    patch = -c core.pager="" show --no-color
[merge]
    tool= meld
[diff]
    tool=vimdiff
[gui]
    displayuntracked = true
[cola]
    checkconflicts = true
    spellcheck = false
[filter "lfs"]
    clean = git-lfs clean -- %f
    smudge = git-lfs smudge -- %f
    process = git-lfs filter-process
    required = true
[difftool "sourcetree"]
    cmd = opendiff \"$LOCAL\" \"$REMOTE\"
    path =
[mergetool "sourcetree"]
    cmd = /Applications/Sourcetree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
    trustExitCode = true
[commit]
    template = /Users/mhossam/.stCommitMsg
